.level{
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem;
    width: 240px;
}

.level__label{
    font-size: 1.25rem;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    text-align: center;

;
}

.level__select{
    height: 36px;
}